In [5]:
# Inputs:
local_kings_file = 'local_kings.csv'
dataset_file = 'dataset.csv'

# Outputs: 
# Outputs overwrite the dataset file which will now just be one columns bigger

In [6]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm
from polyleven import levenshtein

In [7]:
def assignLK(ix):
    
    if ix in df_lk.index:
        return ix
    
    sx = df.loc[ix, 'seq']
    
    df_lk['d'] = [levenshtein(sx, lk) for lk in df_lk['seq']]
    min_dist = df_lk['d'].min()
    candidates = df_lk[df_lk['d'] == min_dist]
    if len(candidates) == 1:
        return candidates.iloc[0].name
    else:
        return random.choice(candidates.index.tolist())

In [11]:
df = pd.read_csv(dataset_file, index_col=0)
df_lk = pd.read_csv(local_kings_file, index_col=0)

In [13]:
df['lk'] = [assignLK(x) for x in df.index]

In [14]:
df.head(20)

    count                       seq  lk
0   17596  AGACATGTTTTTTTAGTATGTTGT   0
1   16261  AAACATGTTTTTTTAGTATGTTGT   0
2   11069  AAACATGTTTTTTAAGTATGTTGT   5
3   10477  AGACATGTTATTTTAGTATGTTGT   0
4   10192  AAACATGTTTTTATAGTATGTTGT   0
5   10163  AGACATGTTTTGTAAGTATGTTGT   5
6    9953  AGACATGTTTTTTTAGCATGTTGT   0
7    9376  AGACATGTTTTTATAGTATGTTGT   0
8    9272  AAACATGTTATTTTAGTATGTTGT   0
9    9180  AAACATGTTTTTTTAGTACGTTGT   0
10   8799  AGACATGTTTTTTAAGTATGTTGT   0
11   8100  AGAAATGTTTAGTATGTATGTTTT  11
12   8091  AGACATGTTTAGTATGTATGTTGT  12
13   7983  AAACATGTTTTTTTAGCATGTTGT   0
14   7902  AGACATGTTTTGTTAGTATGTTGT   5
15   7525  AAACATGTTCTTTTAGTATGTTGT   0
16   7402  AAACATGTTTTGTTAGTATGTTGT   5
17   7370  AGACATGTTTTGTAATTATGTTGT   5
18   7289  AGAAATGTTAAGTATGTATGTTTT  11
19   7220  AGACATGTTTTGAAAGTATGTTGT   5

In [15]:
df.to_csv(dataset_file)